<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Matrix Script CLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Matrix Script Java.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Matrix Script.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA0204D720CBC81F003A7BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA958B45200B56E800696366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAAAD032022FA1C007CA3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAAAD11202338A3007CA3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAAAD1C2023397E007CA3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAAAD5520233BB8007CA3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAAAD7D20233C8F007CA3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
